.mainDiv {
    background-image: linear-gradient(100deg, #334155, #27272a 50%);
    width: 100%;
    height:900px;
    margin: 0px;
    padding: 0px;
}
.innerDiv{
    /* background-color:red; */
    /* margin-bottom: 75%; */
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.miniDivs {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}